:root {
    --darkBlue: #0A2640;
}

html {
    margin: 0 auto;
    max-width: 1200px;
}

body {
    color: var(--darkBlue);
    font-family: 'Manrope', sans-serif;
}
section{
    margin: 4em auto;
}

a {
    text-decoration: none;
}
h1{
    font-size: 3rem;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    display: flex;
    flex-direction: column;

}

.nav-menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn {
    border-radius: 24px;
    padding: 8px 40px;
    border: 1.5px solid var(--darkBlue);
}

.first-section-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first-section-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first-section-buttons{
    margin-top:2em;
}
.first-section-buttons a{
    border-radius: 24px;
    padding: 8px 40px;
    border: 1.5px solid var(--darkBlue);
    color: var(--dark);
}
.first-section-buttons .btn1{
    background-color: var(--darkBlue);
    color: white;
}

.first-section-frames {
    margin: 3em auto;
}

.first-section-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}