:root {
    --darkBlue: #0A2640;
}

* {
    margin: 0;
    padding: 0;
}

.first-section{
    margin: 0 auto;
    max-width: 1200px;
}

body {
    padding: 0;
    color: var(--darkBlue);
    font-family: 'Manrope', sans-serif;
}


a {
    text-decoration: none;
    color: var(--darkBlue);
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    display: flex;
    flex-direction: column;

}

.nav-menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn {
    border-radius: 24px;
    padding: 8px 40px;
    border: 1.5px solid var(--darkBlue);
}

.first-section {
    margin-top: 2em;
}

.first-section-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-section-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-section-buttons {
    margin-top: 2em;
}

.first-section-buttons a {
    border-radius: 24px;
    padding: 8px 40px;
    border: 1.5px solid var(--darkBlue);
    color: var(--dark);
}

.first-section-buttons .btn1 {
    background-color: var(--darkBlue);
    color: white;
}

.first-section-frames {
    margin: 3em auto;
    justify-content: space-between;
}

.first-section-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.our-services {
    align-items: center;
    text-align: center;
    background-color: var(--darkBlue);
    color: white;
    padding: 3em;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.our-services .images {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2em;
    margin-top: 3rem;

}
.our-services .images> div{
    display: flex;
align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}